<div class="recovery-form">
  <img src="/assets/images/logo.png" alt="logo" class="logo">
  <div class="container">
    <div class="main">
      <div class="content">
        <h2>Esqueci minha senha!</h2>
        <h5>Digite o seu e-mail para receber a confirmarção de recuperação de senha.</h5>
        <form action="" method="post">
          <input type="text" pInputText placeholder="E-mail" required autofocus=""/>
          <p-button class="btn" type="submit">
            Enviar
          </p-button>
        </form>
      </div>
      <div class="form-img">
        <img src="/assets/images/forgot.jpg" alt="">
      </div>
    </div>
  </div>
</div>
