.recovery-form{
  position: relative;
  min-height: 100vh;
  padding: 40px;
  justify-content: center;
  display: grid;

  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}

.logo{
  width: 200px;
  align-self: center;
  justify-self: center;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

.recovery-form h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #7B8290;
}

.recovery-form h2{
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: #7B8290;
  text-align: center;
}

.recovery-form h5{
  line-height: 20px;
  font-weight: 100;
  color: #7B8290;
  text-align: center;
}

.recovery-form .main{
  position: relative;
  display: flex;
  margin: 30px 0;
}

.content{
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-img{
  flex-basis: 50%;
  background: #fff;
  background-size: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.form-img img{
  max-width: 100%;
}

::ng-deep .btn,button,input{
  border-radius: 35px;
}


.recovery-form form{
  margin: 30px 0;
}

::ng-deep.recovery-form input{
  margin-bottom: 15px;
  font-stretch: normal;
  text-align: left;
  padding: 14px 20px;
  width: 100%;
  background: #ffffff;
}

::ng-deep.recovery-form button{
  font-size: 18px;
  border-radius: 35px;
  justify-content: center;
  width: 100%;
  padding: 14px 15px;
  font-weight: 600;
}



