.container {
  display: flex;
  justify-content: space-between;
  padding: 200px;
}

.camera-square-one,
.camera-square-two {
  width: 500px;
  height: 400px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
}
