<h1 class="title">Acompanhamento</h1>
<div class="container">
  <!-- CAMERA 1 -->
  <mat-card class="camera-card">
    <div class="camera-square">
      <span class="text">camera 1</span>
    </div>
    <button mat-flat-button color="warn" class="button">Iniciar</button>
  </mat-card>

  <!-- CAMERA 2 -->
  <mat-card class="camera-card">
    <div class="camera-square">
      <span class="text">camera 2</span>
    </div>
    <button mat-flat-button color="warn" class="button">Iniciar</button>
  </mat-card>
</div>
